#home {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 50% 10px 50%;
  grid-template-columns: 50% 50%;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-template-areas: "contact contact" "afspraak over" "afspraak tarieven" "klanten producten";
  grid-column-gap: 10px;
  grid-row-gap: 15px; }

#contact {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contact;
  background-color: #333; }

#afspraak {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: afspraak;
  background-color: red; }

#over {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: over;
  background-color: blue; }

#tarieven {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: tarieven;
  background-color: yellow; }

#resultaten {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: klanten;
  background-color: #333; }

#producten {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: producten;
  background-color: #333; }
